:root {
    /*============================================================ 
        :ROOT - COLOURS
    ============================================================ */
    /*Text AND Background's (BG)*/

    /*LightMode (Default)*/
    /*Default Text and Background InLightMode*/
    --clrTextDefaultInLightMode: black;
    --clrBGDefaultInLightMode: rgb(240, 240, 240);
    /*Text interactive Elements in LightMode*/
    --clrTextLinkInLightMode: black;
    --clrTextBtnInLightMode: black;
    /*Background interactive Elements in LightMode*/
    --clrBGLinkInLightMode: rgb(55, 0, 255);
    --clrBGBtnInLightMode: rgb(55, 0, 255);
    --clrBGLinkHoverInLightMode: rgb(105, 63, 255);
    --clrBGBtnHoverInLightMode: rgb(105, 63, 255);

    /*DarkMode*/
    /*Default Text and Background InDarkMode*/
    --clrTextDefaultInDarkMode: white;
    --clrBGDefaultInDarkMode: black;
    /*Text interactive Elements in LightMode*/
    --clrTextLinkInDarkMode: white;
    --clrTextBtnInDarkMode: white;
    /*Background interactive Elements in LightMode*/
    --clrBGLinkInDarkMode: grey;
    --clrBGBtnInDarkMode: grey;
    --clrBGLinkHoverInDarkMode: lightgrey;
    --clrBGBtnHoverInDarkMode: lightgrey;

    /*Primary Color*/
    --clrPrim95: #e6eeff;
    --clrPrim90: #ccdeff;
    --clrPrim85: #b3cdff;
    --clrPrim80: #99bdff;
    --clrPrim75: #80acff;
    --clrPrim70: #669cff;
    --clrPrim65: #4d8bff;
    --clrPrim60: #337aff;
    --clrPrim55: #1a6aff;
    --clrPrim50: #0059ff;
    --clrPrim45: #0050e6;
    --clrPrim40: #0047cc;
    --clrPrim35: #003eb3;
    --clrPrim30: #003699;
    --clrPrim25: #002d80;
    --clrPrim20: #002466;
    --clrPrim15: #001b4d;
    --clrPrim10: #001233;
    --clrPrim5: #00091a;

}