/*==================================================================================================== 
    START ==> FOOTER
==================================================================================================== */
footer {
    position: relative;
    top: 15vh;
    height: 10vh;
    background-color: var(--clrPrim75);
}


.content__Footer {
    /* add specific design for header content here */
}

/*==================================================================================================== 
    END ==> FOOTER
==================================================================================================== */