/*==================================================================================================== 
    START ==> FOOTER
==================================================================================================== */
footer {
    position: relative;
    top: 15vh;
    height: 10vh;
    background-color: var(--clrPrim75);
}


.content__Footer p {
    text-align: center;
    font-size: var(--fsDesktopTertiary) !important;
}

/*==================================================================================================== 
    END ==> FOOTER
==================================================================================================== */