/*==================================================================================================== 
    START ==> HEADER
==================================================================================================== */
header {
    /* add specific design for header background here */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: var(--clrPrim50);
}

.content__Header {
    /* add specific design for header content here */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoImgHeader {
    height: 100%;
    padding: var(--stdPadding);
}

#logoTextHeader {
    flex: 1;
}

.searchArea {
    width: 500px;
    position: relative;
}

#searchInput {
    width: 100%;
}

#searchBtn {
    position: absolute;
    right: 0;
    height: 100%;
    border: none;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 0px;
}

/*==================================================================================================== 
    END ==> HEADER
==================================================================================================== */