/*==================================================================================================== 
    START ==> MAIN
==================================================================================================== */
main {
    position: relative;
    top: 10vh;
    min-height: 90vh;
    /* 1:1 height from header */
}

/*============================================================ 
    SECTION: section__pokemons
============================================================ */
.section__pokemons {
    /* add specific design for section background here */
}

.content__section__pokemons {
    /* add specific design for section content here */
    padding: var(--stdPadding);
}

h1 {
    margin-top: 50px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*auto-fit ==> Browser decides how many collums are possible / minmax(minvalue column with, maxvalue column width)*/
    gap: 16px;
    justify-items: center;
}

.spinnerContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    width: 100px;
    height: 100px;
    --bs-spinner-border-width: 12px;
}

.txtNoResult {
    margin-top: 100px;
    text-align: center;
}

.loadNextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loadNextBtn {
    background-color: #ff6b57;
    color: white;
    border: 1px solid #f5634f;
    transition: var(--stdTransition);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loadNextBtn:hover {
    transform: scale(1.1);
    background-color: #ff7867;
}

#txtAmount {
    margin-top: 60px;
    text-align: center;
    font-size: var(--fsDesktopTertiary);
}

#muteBtn {
    position: sticky;
    top: 16px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    transition: var(--stdTransition);
    padding: 8px;
}

#muteBtn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/*==================================================================================================== 
    END ==> MAIN
==================================================================================================== */