/* TODO: finalise Card Design delete Comments */
.card {
    margin-top: 100px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding: var(--stdPadding);
    background-color: rgba(255, 255, 255, 0.5);
    /* border-radius: 20px; */
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 8px solid black;
    border-right: 4px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: var(--stdTransition);
    position: relative;
    cursor: pointer;
    filter: brightness(95%);
}

.card:hover {
    transform: scale(1.1) translateY(-5px) rotate(1deg);
    filter: brightness(110%);

    /* transform: translateY(-5px);
    transform: translateX(5px);
    border-bottom: 20px solid black;
    border-right: 15px solid black; */
}

.card__Img {
    width: 70%;
    height: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--stdTransition);
}

.card__Img:hover {
    /* width: 75%; */
    /* TODO: work with transform : scale(1.1) to get a smooth transition - solve position Problems*/
}

.card__Types {
    display: flex;
    gap: 8px;
}

.type__Img {
    /* max-width: 100%; */
    width: 150px;
}

.card__No {
    font-size: var(--fsDesktopTertiary);
}

.card__Name {
    font-weight: bolder;
}